/* LinkContainer.css */

.link-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link-container__title {
  margin-bottom: 20px;
  color: #345995;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.link-container__subtitle {
  margin-bottom: 16px;
  color: #556677;
  font-size: 18px;
  text-align: center;
}

.link-container__form-title {
  margin-top: 24px;
  margin-bottom: 12px;
  color: #345995;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.profile-circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ebebeb; /* Set a background color for the circle */
  overflow: hidden;
}

.profile-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Users/admin/Desktop/COPY OF PERN/client/src/rm218batch9-mynt-38.jpg'); /* Set the path to your pattern image */
  opacity: 0.1; /* Adjust the opacity of the pattern */
  pointer-events: none;
}

.emoji__label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}